/* Error: Expected digit.
 *     ,
 * 139 |                                 .header__nav ul{
 *     |                                  ^
 *     '
 *   scss\style.scss 139:10  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected digit.\a     \2577 \a 139 \2502                                  .header__nav ul{\d\a     \2502                                   ^\a     \2575 \a   scss\\style.scss 139:10  root stylesheet";
}
