* {
    margin: 8;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.titulo {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
}
.parrafo {
    background-color: white;
    color: black;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
}

.tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 100px;
}

